/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.4.1/gridlex.min.css";

body {
    margin: 0;
    font-family: Arial;
    background-color: #eeeeee;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}
.material-icons {
    vertical-align: middle;
}
.mat-snack-bar-container {
    background: rgb(101, 194, 101) !important;
    color: #000 !important;
}
.mat-simple-snackbar {
    justify-content: center !important;
    font-size: 16px !important;
    color: #fff !important;
    font-weight: bold !important;
    letter-spacing: 1px !important;
}
.mat-tooltip {
    font-size: 13px !important;
}
.mat-column-notes {
    position: relative;
}
mat-icon.edit-icon {
    position: absolute;
    right: 0;    
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer !important;
}
mat-icon.download-icon {
    cursor: pointer !important;
}
.flex-grow2 {
    flex-grow: 2 !important;
}
button.active-tickets {
    background: green;
    color: #fff;
}
button.inactive-tickets {
    background: #c12020;
    color: #fff;
}
